@CHARSET "UTF-8";

/* PAGE FORMAT */

body{
    width: 100%; margin: 0; position: relative;}

#mypage{
    width: 100%; margin: 0 auto; font-family: "American Typewriter";}
    
body#loginBody{
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,219,238,1) 100%);
}

/* HEADER + CONTENT*/

header{
    margin: 0 auto 2% auto; height: 12%; width: 100%; background-color: #f8a5cf; }
header#vip{
	background-color: #ee2489; }
	
#login { float: right; display: inline-block; margin-right: 20px; } 
     
div#content {
	margin: 0 auto; height: 68%; width: 970px; 
}

section.left{
	width: 50%; float: left;
}

section.signupform {
    margin: 5 0 0 60; width: 500px; float: left;
}

section.right{
	width: 50%; float: right;
}

img#profilePic{
	width: 50px; height: 50px; float: right; margin: 10 20 0 0;
}

/* CONTACT FORMS */

form{
    margin: 0 0 30px 0;}
    
label{
    width:180px; display: inline-block;}

#login label{
	width: 80px;
}

#signup input{
	border: 1px solid #7C7C7C; border-radius: 5px; width: 200px; font-size: 18px; color:  #7C7C7C; padding: 6px;
}

button{
	float: left; font-size: 18px; background: #f8a5cf; border-radius: 5px; padding: 6px; width: 150px; 
}
input{
     margin: 5px; width: 120px; }

#login button{
    float:right;background: transparent; margin: 0 auto; padding: 1px; width: 70px;}
    


/* NAVIGATION LINKS */

nav { 
    position: relative; z-index: 0; width: 980px; height: 10%; margin: 0 auto; clear: both;}

nav ul { 
    margin: 0 auto; list-style: none; }

nav ul li{ 
    text-decoration: none; display: inline; float: left; padding: 5px 110px; }

nav ul li a{ 
    border-radius: 5px; color: #7C7C7C; font-family: "American Typewriter"; font-size: 16px;
    letter-spacing: -1px; text-decoration: none; }

li.bold {
	font-weight: bold; }
     
/* VIP NAVIGATION LINKS */

nav.vipMenu ul li{
	padding: 5px 50px; }

    
/* TABLES */

table {
	margin: 0 auto; 
}

table td {
	padding-right: 30px;
}

.results{
	padding-right: 40px;
}

table.file{
	clear: both; 
}

td.file{
	width: 150px; height: 150px; padding: 0px;
}

td.file img {
	width: 100%; height:100%; 
}

table#foodTable{ display: inline-block; margin: 0 auto;}

.firstrow{
	background-color: pink;}


/* SECTIONS */

h1{
    margin-top: -5px; font-size: 150%; font-weight: bold; }

h2{
    font-size: 20px; text-align: center; }


h3{
    margin: 0 15px 0 15px; }

p{
    font-family: "American Typewriter"; font-size: 100%; color: #7C7C7C; }
div.vip{
    font-size: 150%; display: inline; color: white; }
div.logo{
	font-family: "American Typewriter"; font-size: 300%; color: white; font-weight:bold; margin: 1% 0 0 2%; font-style: italic; letter-spacing: 2px; float:left;
}

div.greeting{
	float: right;  color: white; margin: 1% 20 0 0; display: inline; }

P.sentence{
    width: 500px; margin: 0 auto; overflow: auto; font-size: 150%; font-style: italic; color:#C71585; text-align: center; }
	
/* FOOTER */

footer{
    clear: both; background: #eeeeee; padding: 5 0 0 10; margin: 0 auto; height: 5%; text-align: center;}
    
